html, body {
    height: 100%;
    margin: 0;
}

.liveDataMap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.mjetet-list {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 21%;
    /* height: 100px; */
    display: flex;
    /* background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px; */
}
.mobile-mjetet-list {
    /* height: 90px !important; */
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}